dagster
dagster-webserver
matplotlib
pandas
wordcloud
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
